<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mars_Web by Yukie Kajita</title>
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- Stlesheet link -->
    <link rel="stylesheet" href="style.css">
    <!-- Glyphicons Fontawesome link -->
    <script src="https://kit.fontawesome.com/f11d2abb65.js" crossorigin="anonymous"></script>
    
</head>
<body style="background-color: rgb(233, 200, 160);">
    <!-- Navigation Section -->
    <div class="container" style="background-color: darkgray;">

        <div class="jumbotron text-center" style="background-color: rgb(218, 164, 95);">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" style="background-color: brown; border: brown" href="/scrape" role="button">Click & Scrape New Data</a></p>
        </div>
    </div>  
    <br>
    <!-- Latest News Mars -->
    <div class="container" style="background-color: rgb(218, 164, 95);">
        <h2>Latest Mars News!</h2>
        <div class="row" id="mars_news">
            <div class="col-md-12">
                <h4 class="heading"> {{mars.news_title}}</h4>
                <p>{{ mars.news_paragraph }}</p>
            </div>
         </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                    <h2>Featured Mars Image</h2>
                    <img src="{{ mars.featured_image_url}}" style="max-width:100%; max-height: auto; margin-bottom: 30px" alt="Mars Featured Image">
            </div>
                <!-- Table -->
            <div class="col-md-4">
                    <h2>Mars Facts</h2>
                    {{mars.html_table | safe}}
            </div>
        </div> 
    </div> 
    <div class="container">
        <div class="row">
             <h2>Mars Hemispheres</h2>
        </div>
        <div class="row">
            <!-- Loop through hemispheres dictionary with images and titles -->
            {% for hemisphere in mars.hemisphere_image %}
                <div class="col-md-3">
                    <img src="{{hemisphere.img_url}}" style="max-width:100%; max-height: auto; margin-bottom: 30px;" alt="Hemisphere Image">
                        <div class="caption">
                         <h3><b>{{hemisphere.title}}</b></h3>
                        </div>
                </div>
            {% endfor %}
        </div>
    </div> 
    <!-- JS Function for Bootstraps -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>    
</body>

</html>
