body {
    background-color: darkgray !important;
}

table thead {
    text-align: center !important;
}

.container {
    background-color: lightskyblue;
}

b {
    font: 5px !important;
    font-family: -apple-system,BlinkMacSystemFont;
}

h3 {
    font: 5px !important;
}

/* Images */
img{
    width:50% !important;
    height:50% !important;
    position: center;
}